<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Learning bootstrap v5 with sass</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/fontawesome.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />

    <script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>

<body>

      <%- include('./partials/navigation') %>
      <%- include('./partials/intro') %>
      <%- include('./partials/companies') %>
      <%- include('./partials/services') %>
      <%- include('./partials/testimonials') %>
      <%- include('./partials/faq') %>
      <%- include('./partials/portfolio') %>
      <%- include('./partials/getstarted') %>
      <%- include('./partials/footer') %>

  
    <script href="/vendors/js/glightbox.min.js"></script>
    <script type="text/javascript">
        const lightbox = GLightbox({
          'touchNavigation': true,
          'href': 'https://www.youtube.com/watch?v=J9lS14nM1xg',
          'type': 'video',
          'source': 'youtube', //vimeo, youtube or local
          'width': 900,
          'autoPlayVideos': 'true',
  });
      
      </script>
    <script src="/js/bootstrap.bundle.js">
    </script>
</body>

</html>